# Admin Backend Environment Variables
PORT=8000
PG_URL=postgresql://postgres.duxixsflguutsmtojdqu:your-password@aws-0-ap-south-1.pooler.supabase.com:6543/postgres
TOKEN_1=your_jwt_access_token_secret_here
REFRESH_SECRET=your_jwt_refresh_token_secret_here
FRONTEND_URL=https://team-ops-admin.vercel.app,http://localhost:5173
